.article-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition);
}.article-card:hover .article-card__img {
    transform: scale(1.05);
}