.articles__card__excerpt {
    font-size: 0.95rem;
    color: var(--text-color);
    opacity: 0.8;
    line-height: 1.5;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
