@import "../../blocks.css";

.favorites-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
}

@media (max-width: 992px) {
    .favorites-layout {
        grid-template-columns: 1fr;
    }
}
