.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition);
}

.product-card:hover .product-card__img {
    transform: scale(1.1);
}