.articles__card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: var(--transition);
}.articles__card:hover .articles__card__img {
    transform: scale(1.05);
}
